// compress: false


/* COLORS */
@pale-grey: #f4f4f7;
@seafoam-blue: #64cae1;
@dark: #2d2d42;
@cool-grey: #93a4a9;
@darkish-pink: #d04b9b;
@dusty-orange: #f47e3d;


/* MARGIN */
@m-xxs: 10px;
@m-xs: 20px;
@m-s: 25px;
@m-m: 30px;
@m-l: 40px;
@m-xl: 50px;
@m-xxl: 75px;

/* FONTS */
@f-xxs: 10px;
@f-xs: 13px;
@f-s: 15px;
@f-m: 20px;
@f-l: 25px;
@f-xl: 30px;
@f-xxl: 60px;

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-Light.eot');
    src: url('../fonts/roboto/subset-Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/subset-Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/subset-Roboto-Light.woff') format('woff'),
        url('../fonts/roboto/subset-Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-Bold.eot');
    src: url('../fonts/roboto/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/roboto/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/roboto/subset-Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-Black.eot');
    src: url('../fonts/roboto/subset-Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/subset-Roboto-Black.woff2') format('woff2'),
        url('../fonts/roboto/subset-Roboto-Black.woff') format('woff'),
        url('../fonts/roboto/subset-Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.b-page {
	color: @pale-grey;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/*GRID*/
.b-inner {
    padding: 0 30px;
}
/* TITLE*/
.b-title {
    margin: 0;
    font-size: @f-l;
    font-weight: 900;
    line-height: @m-m;
    letter-spacing: -0.31px;
}
.b-subtitle {
    margin: 0;
    font-size: @f-s;
    line-height: @m-xs;
    letter-spacing: 0;
    font-weight: 300;
}
/*КНОПКА-ССЫЛКА*/
.b-link {
	font-weight: 300;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: @pale-grey;
	text-decoration: none;
	padding: 5px 30px;
	position: relative;
	overflow: hidden;
}
.b-link__text {
	font-size: @f-s;
	line-height: 20px;
	position: relative;
	z-index: 5;
}
.b-link__img {
	color: @pale-grey;
	width: 20px;
	position: relative;
	z-index: 5;
}

.b-link:before, 
.b-link:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.b-link:before{
	transform: translateX(-100%);
	background: @seafoam-blue;
	transition: transform .5s cubic-bezier(.55,.055,.675,.19);
}
.b-link:after {
	background: @dark;
	transform: translateX(100%);
	transition: transform .5s cubic-bezier(.16,.73,.58,.62) .5s;
}
.b-link:hover:before,
.b-link:hover:after {transform: translateX(0);}
/* HEADER */
.b-header {
	background-color: @dark;
	color: @pale-grey;
}
.b-inner--header {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: @m-l;
}
.b-logo {
	width: 139px;
    height: 30px;
}
.b-logo__mobile {
	display: block;
}
.b-logo__desktop {
	display: none;
}
.b-burger {
	display: block;
	width: 20px;
	height: 1px;
	background-color: @pale-grey;
	position: relative;
	cursor: pointer;
}
.b-burger::before {
	content: " ";
	width: 20px;
	height: 1px;
	background-color: @pale-grey;
	position: absolute;
	top: -6px;
}
.b-burger::after {
	content: " ";
	width: 20px;
	height: 1px;
	background-color: @pale-grey;
	position: absolute;
	top: 6px;
}
.b-nav {
	display: none;
}
.b-lang {
	display: none;
}
.b-title--header {
	margin-bottom: @m-xs;
}
.b-subtitle--header {
	margin-bottom: 70px;
}
.b-link--header {
	background-color: transparent;
}
/*-------*/

/* MAIN */
.b-services {
	padding-top: @m-m;
	background-color: @pale-grey;

	&__content {
		display: flex;
		flex-wrap: wrap;
	}
}
.b-title--services {
	color: @dark;
	margin-bottom: @m-xs;
}
.b-subtitle--services {
	color: @dark;
	margin-bottom: @m-m;
}
.b-card {
	width: 100%;
	background-color: #ffffff;

	&__image {
		width: 100%;
		margin-bottom: @m-m;
		display: inline-block;
	}

	&__content {
		padding: 0 30px;
	}

	&__title {
		font-size: @f-xxs;
		font-weight: 900;
		line-height: 1;
		letter-spacing: 1.33px;
		color: @dark;
		text-transform: uppercase;
		margin-bottom: @m-xs;
	}

	&__text {
		font-size: @f-s;
		font-weight: 300;
		line-height: 1.33;
		color: @dark;
		padding-bottom: @m-m;
		margin: 0;
	}
}
.b-card--visibylity {
	display: none;
}
.b-link--services {
	background-color: @seafoam-blue;
	width: 100%;
}


/* INSIDE */

.b-inside {
	padding-top: @m-m;
	border-top: 1px solid @pale-grey;
}
.b-card--overlay:focus {
	outline: none;
}
/* SLIDER */
.b-slider {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}
.slick-arrow {
	font-size: 0;
	width:20px;
	height: 20px;
	background-position: center;
	border: none;
	background-color: transparent;
	border: none;
}
.slick-arrow:focus {
	outline: none;
}
.slick-prev {
	order: 2;
	background-image: url(../img/slider/ic-left.svg);
	margin-left: 30px;
}
.slick-next {
	order: 3;
	background-image: url(../img/slider/ic-right.svg);
	margin-right: 30px;
}
.slick-disabled {
	opacity: 0.3;
}
.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
}
.slick-dots {
	width: 100%;
	order: 4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 0 0;
}
.slick-dots li{
	list-style: none;
}
.slick-dots button{
	font-size: 0;
}

.b-card--slider {}
.b-card__image--slider {}
.b-card__content--slider {}
.b-card__title--slider {}
.b-card__text--slider {}
/*------*/

/* FOOTER */

.b-title--footer {
    margin-bottom: @m-xs;
    color:@pale-grey;
}


.b-subtitle--footer {
    margin-bottom: @m-xs;
	color:@pale-grey;
	margin-bottom: 95px;
}

.b-subtitle--desktop {
	display: none;
}
.b-footer__contact {
	position: relative;
    padding-top: @m-m;
	background: #000000 url("../img/footer/background/mobile/img-map.svg") no-repeat;
	background-position: center 37%;
	background-size: contain;
}

.b-footer__adress {
    padding-bottom: @m-xxs;
}
.b-title--footer {
	margin-bottom: @m-xs;
}
.b-subtitle--footer {
	margin-bottom: @m-xs;
}
.b-footer__social {
    padding-bottom: 220px;

    &-img {
        &--margin {
            margin-left: @m-s;
        }
    }
  }
.b-footer__state {
	margin: 0;
	margin-bottom: @m-s;
	max-width: 320px;
	
}
.b-footer__info {
    display: flex;
    flex-direction: column;
	padding-bottom: @m-m;
	max-width: 320px;
	overflow-wrap: break-word;
}

.b-footer__way {
    margin: 0;
    font-size: @f-s;
    line-height: @m-s;
    font-weight: 300;
    letter-spacing: 0;
}

.b-footer__mail{
    font-weight: 300;
    font-size: @f-s;
    line-height: @m-s;
    color:@seafoam-blue ;
    text-decoration: none;
}
.b-footer__phone {
    font-size: @f-s;
    font-weight: 300;
    line-height: @m-s;
    text-decoration: none;
    color:@pale-grey;
}

.b-link--footer {
	background: @seafoam-blue;
}

.b-footer__menu {
    background: @dark;
}
.b-footer__list {
    margin: 0;
    padding: 0;
    padding-bottom: @m-xs;
    list-style: none;
}

.b-footer__item-link {
    font-size: @f-s;
    font-weight: 300;
    line-height: @m-l;
    color: @pale-grey;
    text-decoration: none;
}

.b-copy {
    font-size: @f-s;
    color: @pale-grey;
    font-weight: 300;
	line-height: @m-xs;
	opacity: 0.5;
}
.b-footer__menu {
    padding-top: @m-xs;
    padding-bottom: @m-m;
}
.b-copy--desktop {
	display: none;
} 
@media screen and (min-width: 600px) {
	/*Title*/
	.b-title {
		font-size: @f-xl;
		line-height: 40px;
	}
	.b-subtitle {
		font-size: @f-l;
		line-height: 30px;
	}

	/* MAIN */
	.b-card__title {
		font-size: @f-xs;
		line-height: 1.54;
		letter-spacing: 1.73px;
	}
	.b-card__text {
		line-height: 1.33;
		font-size: @f-xl;
	}
}
@media screen and (min-width: 720px) {
    /* Footer */
	
	.b-footer__contact {
		padding-top: 70px;
		position: relative;
		background:#000 url("../img/footer/background/desktop/img-map.svg") no-repeat;
		background-position: 90% 220px;
		background-size: auto;
	}

	.b-footer__social {
		position: absolute;
		padding-bottom: 0;
		top: 70px;
		right: 20%;
	}
	.b-title--footer {
		margin-bottom: 55px;
	}
	.b-subtitle--footer {
		font-weight: 300;
        font-size: @f-m;
		max-width: 380px;
		line-height: @m-m;
		margin-bottom: 70px;
	}
	.b-footer__adress {
		width: 100%;
		max-width: 700px;
		display: flex;
		justify-content: space-between;
	}
    /* ------*/
}

@media screen and (min-width: 980px) {
	.b-page {
		background-color: @pale-grey;
	}

		/*Grid*/
	.b-wrapper {
		max-width: 1180px;
		margin: 0 auto;
	}

        /*Grid*/
	.b-inner {
    padding: 0 100px;
	}
    /* ------ */

	/*Title*/
	.b-title {
		font-size: @f-xxl;
		line-height: 65px;
		letter-spacing: -0.75px;
	}
	.b-subtitle {
		font-size: @f-xl;
		line-height: 40px;
	}
	/*BTH*/
	.b-link {
		width: 480px;
		box-sizing: border-box;
		padding: 5px 50px 5px 100px;
	}
	.b-link__img {
		width: 30px;
	}
	/* HEADER */
	.b-header {	
		background: url(../img/header/img-header.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		z-index: 0;
	}
	.b-header::before {
		content: " ";
		background-color: rgba(0, 0, 0, 0.4);
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
	}
	.b-inner--header {
		font-size: @f-s;
		line-height: 20px;
		font-weight: 300;
		margin-bottom: 90px;
		padding: 40px 60px 0 100px;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		align-items: center;
	}
	
	.b-logo {
		width: 40px;
		height: 40px;
		margin-right: 60px;
	}
	.b-logo__mobile {
		display: none;
	}
	.b-logo__desktop {
		display: block;
	}
	.b-burger {
		display: none;
	}
	.b-nav {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		flex-wrap: wrap;
	}
	.b-nav__item {
		text-decoration: none;
		color: @pale-grey;
		margin-right: 50px;
	}
	.b-nav__item--extra {
		display: none;
	}
	.b-nav__item:hover {
		border-bottom: 1px solid #f4f4f7;
	}
	.b-lang {
		margin-left: auto;
		display: flex;
		align-items: center;
	}
	.b-lang__link {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		text-decoration: none;
		color: @pale-grey;
		margin-right: 8px;
		box-sizing: border-box;
	}
	.b-lang__link:hover {
		transition: .5s ease;
		border: 1px solid rgba(255,255,255,.2);
		border-radius: 50%;
	}
	.js-lang__link--active {
		border: 1px solid rgba(255,255,255,.2);
		border-radius: 50%;
	}
	.b-lang__link:last-child {
		margin-right: 0;
	}
	.b-inner--header-title {
		padding: 0 60px 0 100px;
	}
	.b-title--header {
		padding-right: 40px;
		margin-bottom: @m-m;
		position: relative;
	}
	.b-subtitle--header {
		font-size: @f-m;
		line-height: 30px;
		padding-right: 120px;
		margin-bottom: 78px;
		position: relative;
	}
	.b-link--header {
		border-top: 1px solid rgba(255,255,255,0.1);
		border-right: 1px solid rgba(255,255,255,0.1);
		position: relative;
	}
	.b-link__text {
		font-size: @f-m;
		line-height: 30px;
	}
	/* ------ */

	/* MAIN */
	.b-services {
		padding-top: 100px;
	}
	.b-services__content {
		width: 100%;
		max-width: 1180px;
		margin: 0 auto;
	}
	.b-title--services {
		margin-bottom: @m-s;
	}
	.b-subtitle--services {
		margin-bottom: 90px;
	}
	.b-card {
		width: 50%;
		display: inline-block;
		background-color: transparent;
	}
	.b-card--overlay {
		position: relative;
		width: 100%;
	}
	.b-card__image--overlay {
		margin: 0;
		height: 100%;
	}
	.b-card__content--overlay {
		position: absolute;
		width: 380px;
		height: 380px;
		box-sizing: border-box;
		overflow: auto;
		bottom: 20px;
		left: 10%;
		background-color: @seafoam-blue;
	}
	.b-card__content--overlay {
		padding: @m-l;
		box-sizing: border-box;
	}
	.b-card__title--overlay {
		color: @pale-grey;
		margin-bottom: @m-l;
		margin-top: 0;
	}
	.b-card__text--overlay {
		color: @pale-grey;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.b-link--services {
		display: none;
	}
	/* TEAM */
	.b-team {
		margin-bottom: -4px;
	}
	.b-card__content--team {
		left: 50%;
		background-color: #ffffff;
	}
	.b-card__title--team {
		color: @dark;
	}
	.b-acrd__text--team {
		color: @dark;
	}
	/* SKROLLBAR */
	.b-card__content--overlay::-webkit-scrollbar-button {
		background-image:url('');
		background-repeat:no-repeat;
		width:8px;
		height:0px
	}
		
	.b-card__content--overlay::-webkit-scrollbar-track {
		background-color:#ecedee
	}
		
	.b-card__content--overlay::-webkit-scrollbar-thumb {
		-webkit-border-radius: 0px;
		border-radius: 5px;
		background-color: @dark;
	}
		
	.b-card__content--overlay::-webkit-scrollbar-thumb:hover{
		background-color: @dark;
	}
		
	.b-card__content--overlay::-webkit-resizer{
		background-image:url('');
		background-repeat:no-repeat;
		width:28px;
		height:0px
	}
		
		.b-card__content--overlay::-webkit-scrollbar{
		width: 8px;
	}
	/* ---- */
	/* INSIDE */

	.b-inside {
		padding-top: 100px;
		border-top: 1px solid @pale-grey;
	}
	.b-card--overlay:focus {
		outline: none;
	}
	/* SLIDER */
	.b-slider {
		margin-bottom: 0px;
		position: relative;
	}
	.slick-dots {
		width: 300px;
		margin: 0 0 0 40px;
		order: 4;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 0 0;
		position: absolute;
		bottom: 0;
		justify-content: space-between;
	}
	.slick-dots li{
		list-style: none;
		margin: 0 2.5px;
		width: 60px;
	}
	.slick-dots button:focus{
		outline: none;
	}
	.slick-dots button{
		font-size: 0;
		border: none;
		width:100%;
		height: 1px;
		background-color: #c0c6c8;
	}
	.slick-active button{
		background-color: @dark;
	}

	.b-card--slider {}
	.b-card__image--slider {}
	.b-card__content--slider {
		bottom: 0;
		left: 0;
		background-color: @pale-grey;
	}
	.b-card__title--slider {
		color: @dark;
	}
	.b-card__text--slider {
		color: @dark;
	}
	/*------*/


	/* FOOTER */
	.b-footer__contact {
		background-position: 150px 65%;
	}
    .b-footer__contact {
		padding-top: 100px;
		position: relative;
	}
    .b-title--footer {
        margin-bottom: @m-xxl;
	}
	.b-footer__social {
		position: absolute;
		padding-bottom: 0;
		top: 120px;
		right: 25%;
	}
    .b-subtitle--footer {
		font-weight: 300;
        font-size: @f-m;
		max-width: 380px;
		line-height: @m-m;
	}
	.b-subtitle--mobile {
		display: none;
	}
	.b-subtitle--desktop {
		display: block;
	}
	/* ------ */
	.b-footer__adress {
		width: 100%;
		max-width: 720px;
		display: flex;
		justify-content: space-between;
	}
	.b-footer__adress--bottom {
		margin-bottom: 25px;
	}
	.b-copy--desktop {
		display: inline-block;
		font-size: @f-m;
		margin-left: 110px;
	}
	.b-link--footer {
		background: @seafoam-blue;
		display: inline-flex;
	}
	.b-footer__menu {
		display: none;
		font-size: @f-m;
	}
}
@media screen and (min-width: 1180px) {
	/* HEADER */

	.b-logo__mobile {
		display: none;
	}
	/* MAIN */
	.b-services {
		padding-top: 100px;
	}
	.b-services__content {
		justify-content: space-between;
	}
	.b-card {
		width: 49%;
	}
	.b-card__content {
		padding: 0;
	}
	.b-card__text {
		width: 75%;
	}
	.b-card__content--overlay {
		padding: 40px;
	}
	.b-card__text--overlay{
		width: 100%;
	}
	.b-card--overlay {
		margin-bottom: @m-xs;
		width: 100%;
	}
	/* TEAM */
	.b-card--team {
		margin: 0;
	}
	/* ---- */
	/* INSIDE */

	.b-inside {
		padding-top: 100px;
		border-top: 1px solid @pale-grey;
		}
	.b-card--overlay:focus {
		outline: none;
	}
	/* SLIDER */
	.b-slider {
		margin-bottom: 0px;
		position: relative;
	}
	.slick-dots {
		width: 300px;
		margin: 0 0 0 40px;
		order: 4;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 0 0;
		position: absolute;
		bottom: 0;
		justify-content: space-between;
	}
	.slick-dots li{
		list-style: none;
		margin: 0 2.5px;
		width: 60px;
	}
	.slick-dots button:focus{
		outline: none;
	}
	.slick-dots button{
		font-size: 0;
		border: none;
		width:100%;
		height: 1px;
		background-color: #c0c6c8;
	}
	.slick-active button{
		background-color: @dark;
	}

	.b-card--slider {
		margin-bottom: 0;
		margin-left: 200px;
	}
	.b-card__content--slider {
		bottom: 0;
		left: -20%;
		background-color: @pale-grey;
	}
	.b-card__title--slider {
		color: @dark;
	}
	.b-card__text--slider {
		color: @dark;
	}
	/*------*/
}

@media screen and (min-width: 1440px) {
	
	.b-inner {
		padding-left: 200px;
		}

	.b-title {
		margin-bottom: @m-m;
	}
	.b-link {
		width: 580px;
		padding: 5px 50px 5px 200px;
	}
	/* HEADER */
	.b-header {
		background: url(../img/header/img-header@2x.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.b-inner--header {
		padding: 40px 60px 0 40px;
		margin-bottom: 92px;
	}
	.b-inner--header-title {
		padding: 0 200px 0 200px;
	}
	.b-logo {
		margin-right: 120px;
	}
	.b-nav__item--extra {
		display: block;
	}
	/* ------ */
	
	/* MAIN */
	
	/* ---- */
	
	/* FOOTER */
	.b-footer__social {
		right: 335px;
	}
	.b-title--footer {
        margin-bottom: @m-xxl;
	}
	.b-footer__contact {
		background-position: 90% 65%;
	}
	/* ------ */
	}