/* COLORS */
/* MARGIN */
/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/subset-Roboto-Light.eot');
  src: url('../fonts/roboto/subset-Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/subset-Roboto-Light.woff2') format('woff2'), url('../fonts/roboto/subset-Roboto-Light.woff') format('woff'), url('../fonts/roboto/subset-Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/subset-Roboto-Bold.eot');
  src: url('../fonts/roboto/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/subset-Roboto-Bold.woff2') format('woff2'), url('../fonts/roboto/subset-Roboto-Bold.woff') format('woff'), url('../fonts/roboto/subset-Roboto-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/subset-Roboto-Black.eot');
  src: url('../fonts/roboto/subset-Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/subset-Roboto-Black.woff2') format('woff2'), url('../fonts/roboto/subset-Roboto-Black.woff') format('woff'), url('../fonts/roboto/subset-Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.b-page {
  color: #f4f4f7;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/*GRID*/
.b-inner {
  padding: 0 30px;
}
/* TITLE*/
.b-title {
  margin: 0;
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.31px;
}
.b-subtitle {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 300;
}
/*КНОПКА-ССЫЛКА*/
.b-link {
  font-weight: 300;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f4f4f7;
  text-decoration: none;
  padding: 5px 30px;
  position: relative;
  overflow: hidden;
}
.b-link__text {
  font-size: 15px;
  line-height: 20px;
  position: relative;
  z-index: 5;
}
.b-link__img {
  color: #f4f4f7;
  width: 20px;
  position: relative;
  z-index: 5;
}
.b-link:before,
.b-link:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.b-link:before {
  transform: translateX(-100%);
  background: #64cae1;
  transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.b-link:after {
  background: #2d2d42;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.5s;
}
.b-link:hover:before,
.b-link:hover:after {
  transform: translateX(0);
}
/* HEADER */
.b-header {
  background-color: #2d2d42;
  color: #f4f4f7;
}
.b-inner--header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.b-logo {
  width: 139px;
  height: 30px;
}
.b-logo__mobile {
  display: block;
}
.b-logo__desktop {
  display: none;
}
.b-burger {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #f4f4f7;
  position: relative;
  cursor: pointer;
}
.b-burger::before {
  content: " ";
  width: 20px;
  height: 1px;
  background-color: #f4f4f7;
  position: absolute;
  top: -6px;
}
.b-burger::after {
  content: " ";
  width: 20px;
  height: 1px;
  background-color: #f4f4f7;
  position: absolute;
  top: 6px;
}
.b-nav {
  display: none;
}
.b-lang {
  display: none;
}
.b-title--header {
  margin-bottom: 20px;
}
.b-subtitle--header {
  margin-bottom: 70px;
}
.b-link--header {
  background-color: transparent;
}
/*-------*/
/* MAIN */
.b-services {
  padding-top: 30px;
  background-color: #f4f4f7;
}
.b-services__content {
  display: flex;
  flex-wrap: wrap;
}
.b-title--services {
  color: #2d2d42;
  margin-bottom: 20px;
}
.b-subtitle--services {
  color: #2d2d42;
  margin-bottom: 30px;
}
.b-card {
  width: 100%;
  background-color: #ffffff;
}
.b-card__image {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
}
.b-card__content {
  padding: 0 30px;
}
.b-card__title {
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1.33px;
  color: #2d2d42;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.b-card__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  color: #2d2d42;
  padding-bottom: 30px;
  margin: 0;
}
.b-card--visibylity {
  display: none;
}
.b-link--services {
  background-color: #64cae1;
  width: 100%;
}
/* INSIDE */
.b-inside {
  padding-top: 30px;
  border-top: 1px solid #f4f4f7;
}
.b-card--overlay:focus {
  outline: none;
}
/* SLIDER */
.b-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.slick-arrow {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-color: transparent;
  border: none;
}
.slick-arrow:focus {
  outline: none;
}
.slick-prev {
  order: 2;
  background-image: url(../img/slider/ic-left.svg);
  margin-left: 30px;
}
.slick-next {
  order: 3;
  background-image: url(../img/slider/ic-right.svg);
  margin-right: 30px;
}
.slick-disabled {
  opacity: 0.3;
}
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slick-dots {
  width: 100%;
  order: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0;
}
.slick-dots li {
  list-style: none;
}
.slick-dots button {
  font-size: 0;
}
/*------*/
/* FOOTER */
.b-title--footer {
  margin-bottom: 20px;
  color: #f4f4f7;
}
.b-subtitle--footer {
  margin-bottom: 20px;
  color: #f4f4f7;
  margin-bottom: 95px;
}
.b-subtitle--desktop {
  display: none;
}
.b-footer__contact {
  position: relative;
  padding-top: 30px;
  background: #000000 url("../img/footer/background/mobile/img-map.svg") no-repeat;
  background-position: center 37%;
  background-size: contain;
}
.b-footer__adress {
  padding-bottom: 10px;
}
.b-title--footer {
  margin-bottom: 20px;
}
.b-subtitle--footer {
  margin-bottom: 20px;
}
.b-footer__social {
  padding-bottom: 220px;
}
.b-footer__social-img--margin {
  margin-left: 25px;
}
.b-footer__state {
  margin: 0;
  margin-bottom: 25px;
  max-width: 320px;
}
.b-footer__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  max-width: 320px;
  overflow-wrap: break-word;
}
.b-footer__way {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 0;
}
.b-footer__mail {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #64cae1;
  text-decoration: none;
}
.b-footer__phone {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  text-decoration: none;
  color: #f4f4f7;
}
.b-link--footer {
  background: #64cae1;
}
.b-footer__menu {
  background: #2d2d42;
}
.b-footer__list {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}
.b-footer__item-link {
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
  color: #f4f4f7;
  text-decoration: none;
}
.b-copy {
  font-size: 15px;
  color: #f4f4f7;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.5;
}
.b-footer__menu {
  padding-top: 20px;
  padding-bottom: 30px;
}
.b-copy--desktop {
  display: none;
}
@media screen and (min-width: 600px) {
  /*Title*/
  .b-title {
    font-size: 30px;
    line-height: 40px;
  }
  .b-subtitle {
    font-size: 25px;
    line-height: 30px;
  }
  /* MAIN */
  .b-card__title {
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 1.73px;
  }
  .b-card__text {
    line-height: 1.33;
    font-size: 30px;
  }
}
@media screen and (min-width: 720px) {
  /* Footer */
  .b-footer__contact {
    padding-top: 70px;
    position: relative;
    background: #000 url("../img/footer/background/desktop/img-map.svg") no-repeat;
    background-position: 90% 220px;
    background-size: auto;
  }
  .b-footer__social {
    position: absolute;
    padding-bottom: 0;
    top: 70px;
    right: 20%;
  }
  .b-title--footer {
    margin-bottom: 55px;
  }
  .b-subtitle--footer {
    font-weight: 300;
    font-size: 20px;
    max-width: 380px;
    line-height: 30px;
    margin-bottom: 70px;
  }
  .b-footer__adress {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
  }
  /* ------*/
}
@media screen and (min-width: 980px) {
  .b-page {
    background-color: #f4f4f7;
  }
  /*Grid*/
  .b-wrapper {
    max-width: 1180px;
    margin: 0 auto;
  }
  /*Grid*/
  .b-inner {
    padding: 0 100px;
  }
  /* ------ */
  /*Title*/
  .b-title {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -0.75px;
  }
  .b-subtitle {
    font-size: 30px;
    line-height: 40px;
  }
  /*BTH*/
  .b-link {
    width: 480px;
    box-sizing: border-box;
    padding: 5px 50px 5px 100px;
  }
  .b-link__img {
    width: 30px;
  }
  /* HEADER */
  .b-header {
    background: url(../img/header/img-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
  }
  .b-header::before {
    content: " ";
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
  }
  .b-inner--header {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 90px;
    padding: 40px 60px 0 100px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
  }
  .b-logo {
    width: 40px;
    height: 40px;
    margin-right: 60px;
  }
  .b-logo__mobile {
    display: none;
  }
  .b-logo__desktop {
    display: block;
  }
  .b-burger {
    display: none;
  }
  .b-nav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .b-nav__item {
    text-decoration: none;
    color: #f4f4f7;
    margin-right: 50px;
  }
  .b-nav__item--extra {
    display: none;
  }
  .b-nav__item:hover {
    border-bottom: 1px solid #f4f4f7;
  }
  .b-lang {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .b-lang__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: #f4f4f7;
    margin-right: 8px;
    box-sizing: border-box;
  }
  .b-lang__link:hover {
    transition: 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  .js-lang__link--active {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  .b-lang__link:last-child {
    margin-right: 0;
  }
  .b-inner--header-title {
    padding: 0 60px 0 100px;
  }
  .b-title--header {
    padding-right: 40px;
    margin-bottom: 30px;
    position: relative;
  }
  .b-subtitle--header {
    font-size: 20px;
    line-height: 30px;
    padding-right: 120px;
    margin-bottom: 78px;
    position: relative;
  }
  .b-link--header {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
  }
  .b-link__text {
    font-size: 20px;
    line-height: 30px;
  }
  /* ------ */
  /* MAIN */
  .b-services {
    padding-top: 100px;
  }
  .b-services__content {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }
  .b-title--services {
    margin-bottom: 25px;
  }
  .b-subtitle--services {
    margin-bottom: 90px;
  }
  .b-card {
    width: 50%;
    display: inline-block;
    background-color: transparent;
  }
  .b-card--overlay {
    position: relative;
    width: 100%;
  }
  .b-card__image--overlay {
    margin: 0;
    height: 100%;
  }
  .b-card__content--overlay {
    position: absolute;
    width: 380px;
    height: 380px;
    box-sizing: border-box;
    overflow: auto;
    bottom: 20px;
    left: 10%;
    background-color: #64cae1;
  }
  .b-card__content--overlay {
    padding: 40px;
    box-sizing: border-box;
  }
  .b-card__title--overlay {
    color: #f4f4f7;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .b-card__text--overlay {
    color: #f4f4f7;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .b-link--services {
    display: none;
  }
  /* TEAM */
  .b-team {
    margin-bottom: -4px;
  }
  .b-card__content--team {
    left: 50%;
    background-color: #ffffff;
  }
  .b-card__title--team {
    color: #2d2d42;
  }
  .b-acrd__text--team {
    color: #2d2d42;
  }
  /* SKROLLBAR */
  .b-card__content--overlay::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 8px;
    height: 0px;
  }
  .b-card__content--overlay::-webkit-scrollbar-track {
    background-color: #ecedee;
  }
  .b-card__content--overlay::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 5px;
    background-color: #2d2d42;
  }
  .b-card__content--overlay::-webkit-scrollbar-thumb:hover {
    background-color: #2d2d42;
  }
  .b-card__content--overlay::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 28px;
    height: 0px;
  }
  .b-card__content--overlay::-webkit-scrollbar {
    width: 8px;
  }
  /* ---- */
  /* INSIDE */
  .b-inside {
    padding-top: 100px;
    border-top: 1px solid #f4f4f7;
  }
  .b-card--overlay:focus {
    outline: none;
  }
  /* SLIDER */
  .b-slider {
    margin-bottom: 0px;
    position: relative;
  }
  .slick-dots {
    width: 300px;
    margin: 0 0 0 40px;
    order: 4;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
  }
  .slick-dots li {
    list-style: none;
    margin: 0 2.5px;
    width: 60px;
  }
  .slick-dots button:focus {
    outline: none;
  }
  .slick-dots button {
    font-size: 0;
    border: none;
    width: 100%;
    height: 1px;
    background-color: #c0c6c8;
  }
  .slick-active button {
    background-color: #2d2d42;
  }
  .b-card__content--slider {
    bottom: 0;
    left: 0;
    background-color: #f4f4f7;
  }
  .b-card__title--slider {
    color: #2d2d42;
  }
  .b-card__text--slider {
    color: #2d2d42;
  }
  /*------*/
  /* FOOTER */
  .b-footer__contact {
    background-position: 150px 65%;
  }
  .b-footer__contact {
    padding-top: 100px;
    position: relative;
  }
  .b-title--footer {
    margin-bottom: 75px;
  }
  .b-footer__social {
    position: absolute;
    padding-bottom: 0;
    top: 120px;
    right: 25%;
  }
  .b-subtitle--footer {
    font-weight: 300;
    font-size: 20px;
    max-width: 380px;
    line-height: 30px;
  }
  .b-subtitle--mobile {
    display: none;
  }
  .b-subtitle--desktop {
    display: block;
  }
  /* ------ */
  .b-footer__adress {
    width: 100%;
    max-width: 720px;
    display: flex;
    justify-content: space-between;
  }
  .b-footer__adress--bottom {
    margin-bottom: 25px;
  }
  .b-copy--desktop {
    display: inline-block;
    font-size: 20px;
    margin-left: 110px;
  }
  .b-link--footer {
    background: #64cae1;
    display: inline-flex;
  }
  .b-footer__menu {
    display: none;
    font-size: 20px;
  }
}
@media screen and (min-width: 1180px) {
  /* HEADER */
  .b-logo__mobile {
    display: none;
  }
  /* MAIN */
  .b-services {
    padding-top: 100px;
  }
  .b-services__content {
    justify-content: space-between;
  }
  .b-card {
    width: 49%;
  }
  .b-card__content {
    padding: 0;
  }
  .b-card__text {
    width: 75%;
  }
  .b-card__content--overlay {
    padding: 40px;
  }
  .b-card__text--overlay {
    width: 100%;
  }
  .b-card--overlay {
    margin-bottom: 20px;
    width: 100%;
  }
  /* TEAM */
  .b-card--team {
    margin: 0;
  }
  /* ---- */
  /* INSIDE */
  .b-inside {
    padding-top: 100px;
    border-top: 1px solid #f4f4f7;
  }
  .b-card--overlay:focus {
    outline: none;
  }
  /* SLIDER */
  .b-slider {
    margin-bottom: 0px;
    position: relative;
  }
  .slick-dots {
    width: 300px;
    margin: 0 0 0 40px;
    order: 4;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
  }
  .slick-dots li {
    list-style: none;
    margin: 0 2.5px;
    width: 60px;
  }
  .slick-dots button:focus {
    outline: none;
  }
  .slick-dots button {
    font-size: 0;
    border: none;
    width: 100%;
    height: 1px;
    background-color: #c0c6c8;
  }
  .slick-active button {
    background-color: #2d2d42;
  }
  .b-card--slider {
    margin-bottom: 0;
    margin-left: 200px;
  }
  .b-card__content--slider {
    bottom: 0;
    left: -20%;
    background-color: #f4f4f7;
  }
  .b-card__title--slider {
    color: #2d2d42;
  }
  .b-card__text--slider {
    color: #2d2d42;
  }
  /*------*/
}
@media screen and (min-width: 1440px) {
  .b-inner {
    padding-left: 200px;
  }
  .b-title {
    margin-bottom: 30px;
  }
  .b-link {
    width: 580px;
    padding: 5px 50px 5px 200px;
  }
  /* HEADER */
  .b-header {
    background: url(../img/header/img-header@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .b-inner--header {
    padding: 40px 60px 0 40px;
    margin-bottom: 92px;
  }
  .b-inner--header-title {
    padding: 0 200px 0 200px;
  }
  .b-logo {
    margin-right: 120px;
  }
  .b-nav__item--extra {
    display: block;
  }
  /* ------ */
  /* MAIN */
  /* ---- */
  /* FOOTER */
  .b-footer__social {
    right: 335px;
  }
  .b-title--footer {
    margin-bottom: 75px;
  }
  .b-footer__contact {
    background-position: 90% 65%;
  }
  /* ------ */
}
